<%
  # params[:date] ||= {
  #   b: to_jQueryUI_date(Time.now),
  #   e: to_jQueryUI_date(Time.now),
  #   range: 'current_month'
  # }
  # params[:hide_short_sessions] ||= false
%>
<% content_for :deferred_js do %>
  <script>
    $(function() {

      $( "#from" ).datepicker({
        defaultDate: "+1w",
        inline: false,
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          $( "#to" ).datepicker( "option", "minDate", selectedDate );
        }
      });
      $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          $( "#from" ).datepicker( "option", "maxDate", selectedDate );
        }
      });

      $("#generate_report input[type=radio]").change(function() {
        if ($(this).parent().find(":checked").attr("value") == 'custom')
          $("#report_date_selector").show();
        else
          $("#report_date_selector").hide();
      });

      var form_url = $("form").attr("action");

      $("input[name=type]").change(function() {
        var form = $(this).parents("form:first")
        if ($(this).attr("value") == 'PDF') {
          form.attr("action", form_url + '.pdf')
        } else {
          form.attr("action", form_url)
        }
      });

      <% if false %>
        $("input[type=radio][value=<%= params[:date][:range] %>]").attr("checked", "checked").change();
        <% @tags && @tags.each do |t| %>
          $("input[type=checkbox][name^=tags][value=<%=t.id%>]").attr("checked", "checked");
        <% end %>
        <% if params[:hide_short_sessions] %>
          $("input[type=checkbox][name=hide_short_sessions]").attr("checked", "checked");
        <% end %>
      <% end %>

      return false;

    });
  </script>
<% end %>

<% content_for :subtitle do %>Generate a report<% end %>

<form method="POST" id="generate_report" action="/reports">
  <section>
    <h3>Period</h3>
    <p>
      <label>
        <input type="radio" name="date[range]" value="current_month" checked="checked">Current month (<%= Time.now.strftime('%B') %>)</option>
      </label><br />
      <label>
        <input type="radio" name="date[range]" value="current_year">Current year (<%= Time.now.strftime('%Y') %>)</option>
      </label><br />
      <label>
        <input type="radio" name="date[range]" value="last_month">Last month (<%= 1.month.ago.strftime('%B') %>)</option>
      </label><br />
      <label>
        <input type="radio" name="date[range]" value="last_year">Last year (<%= 1.year.ago.strftime('%Y') %>)</option>
      </label><br />
      <label>
        <input type="radio" name="date[range]" value="custom">Custom</option>
      </label>
      <div class="hidden" id="report_date_selector">
          <label>From: <input type="text" name="date[from]" id="from" /></label>
          <label>To: <input type="text" name="date[to]" id="to" /></label>
        </div>
    </p>
  </section>
  <section>
    <h3>Tag filters</h3>
    <% @tags.each do |tag| %>
      <label><input type="checkbox" value="<%= tag.id %>" name="tags[]" /><%= tagify("##{tag.name}") %></label>
    <% end %>
  </section>

  <section>
    <h3>Duration filters</h3>
    <label>
      <input type="checkbox" name="hide_short_sessions" value="yes" />
      Don't count really short work sessions (&lt; 5 minutes long)
    </label>
  </section>

  <section>
    <h3>Format</h3>
    <label><input type="radio" name="type" value="HTML" checked="checked" />HTML</label>
    <label><input type="radio" name="type" value="PDF" />PDF</label>
    <label><input type="radio" name="type" value="Excel" disabled="disabled" />Excel <span class="hint">(soon)</span></label>
    <p><strong>Formatting Options</strong></p>
    <label><input type="checkbox" name="format_options[pdf][wrap]" value="yes" checked="checked" />Page-wrap overflowing tables (PDF only)</label><br />
    <label><input type="checkbox" name="format_options[pdf][break]" value="yes" checked="checked" />Force a page break between the two tables (PDF only)</label>
  </section>

  <br />
  <input type="submit" value="Generate" />
</form>