<% content_for :layout_classes do %>reports<%= ' pdf' if pdf? %><% end %>
<% content_for :title do %>Report
  <%= @date[:b].strftime('%D') %> -
  <%= @date[:e].strftime('%D') %>,
  <%= @user.name %>
<% end %>

<h2>Activity from
  <em class="highlight"><%= @date[:b].strftime('%D') %></em>
  to
  <em class="highlight"><%= @date[:e].strftime('%D') %></em>
</h2>

<% tag_names = @tags.collect { |t| "<b>##{t.name}</b>" } %>

<section>
  <h3>Tasks</h3>

  <% @tasks = @sessions.collect { |ws| ws.task }.flatten.uniq.sort { |a,b| a.flagged_at <=> b.flagged_at } %>
  <% if @tasks.any? %>
    <p class="hint">A task might have been worked on during a number of work sessions (detailed below).</p>
    <table>
      <thead>
        <tr>
          <th width="15%">Duration</th>
          <th width="60%">Task</th>
          <th>Status</th>
          <th>Completed on</th>
        </tr>
      </thead>
      <tbody>
        <% totals = { time_spent: 0 } %>
        <% @tasks.each do |t| %>
          <tr>
            <td>
              <%= pretty_time t.time_spent %><% totals[:time_spent] += t.time_spent %>
            </td>
            <td><%= md tagify t.name %>
              <% if !t.details.empty? %>
                <p><strong>Detailed description:</strong></p>
                <p><%= md tagify t.details %></p>
              <% end %>
              <% if t.notes.any? %>
                <p><strong>Notes:</strong></p>
                <ol>
                  <% t.notes.each do |note| %>
                    <li><%= md tagify note.content %></li>
                  <% end %>
                </ol>
              <% end %>
            </td>
            <td><span class="task_status <%= t.status.to_s %>"><%= t.status.to_s.capitalize %></span></td>
            <td><%= t.flagged_at.strftime('%D') %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4"><strong>Total</strong></td>
        </tr>
        <tr>
          <td><em class="highlight"><%= pretty_time totals[:time_spent] %></em></td>
          <td colspan="3"><em class="highlight"><%= 'task'.pluralize @tasks.count %></em></td>
        </tr>

      </tbody>
    </table>
  <% end %>
</section>


<section>
  <h3>Work sessions</h3>
  <p><%= @sessions.count %> work sessions<% if tag_names.any? %> tagged with<%= tag_names.join(', ') %><% end %>:</p>
  <% if @sessions.any? %>
    <table>
      <thead>
        <tr>
          <th width="15%">Duration</th>
          <th width="30%">Task</th>
          <th width="40%">Summary</th>
          <th>On</th>
        </tr>
      </thead>
      <tbody>
        <% @sessions.each do |ws| %>
          <tr>
            <td><%= pretty_time ws.duration %></td>
            <td><%= md tagify ws.task.name %></td>
            <td>
              <% if ws.notes.any? %>
                <%= md ws.notes.collect { |n| tagify n.content }.join("\n") %>
              <% end %>
            </td>
            <td><%= ws.finished_at.strftime('%D') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<% unless pdf? %>
  <p>
    <small>This report was generated on <%= Time.now.strftime('%D') %> by <%= AppName %>. <a href="/reports/new">Generate another.</a></small>
  </p>
<% end %>