<% content_for :layout_classes do %>dashboard<% end %>
<% js_view 'dashboard/active' %>
<% js_view 'dashboard/timer' %>
<% js_view 'tasks/edit_modal' %>

<% content_for :page_title do %>
  <div class="row">
    <div class="col-md-8">
      <%= @task.name %>
    </div>

    <div class="col-md-4 text-right">
      <small class="label" id="wsTimer"></small>

      <button data-action="backtrack" class="btn btn-danger" title="Add or remove time from this work session"><i class="glyphicon glyphicon-backward"></i> </button>
      <button data-action="editTask" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> </button>
    </div>
  </div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <button
        data-confirm-cb="submit_form"
        data-confirm-heading="End session"
        data-confirm-accept="Ok"
        data-confirm-target="#end_session"
        data-linked-to="task_name" type="submit" id="thebutton" class="confirm btn btn-danger btn-block">
        <strong>End session</strong>
      </button>
    </div>
  </div>

  <!-- Notes -->
  <div class="row">
    <div class="col-lg-6">
      <h3 class="page-header">Task Details</h3>
      <p><strong>Client</strong></p>
      <p><%= @task.project.client.name %></p>

      <p><strong>Project</strong></p>
      <p><%= @task.project.name %></p>

      <% if !@task.details.empty? %>
        <p><strong>Details</strong></p>
        <p><%= md tagify @task.details.gsub("\n", '<br />') %></p>
      <% end %>

      <% if @task.project.billing_rate > 0 %>
        <p><strong>Estimate</strong></p>
        <p><%= @task.billing_estimate %> <%= @task.project.billing_currency %></p>
      <% end %>
    </div>
    <div class="col-lg-6">
      <h3 class="page-header">Session Notes</h3>

      <% if @ws.notes.any? %>
        <%= partial "notes/_listing", locals: {
          notes: @ws.notes,
          with_actions: true
        } %>
      <% else %>
        <p>No notes have been entered during this session.</p>
      <% end %>

      <div class="panel-footexr">

        <form method="POST" action="<%= @ws.url true %>/notes" class="form row">
          <div class="col-lg-12">

            <label>
              <span class="sr-only">Note</span>

              <textarea id="new_note_content" name="content" rows="2" placeholder="You can use *markdown* syntax to format your notes." class="form-control input-lg" style="resize: vertical;"></textarea>
            </label>
          </div>
          <div class="col-lg-12 text-right">
          <button type="submit" data-linked-to="new_note_content" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i>
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <% if @task.work_sessions.count > 1 %>
    <hr />
    <!-- <div class="container-fluid"> -->
      <div class="row">
        <div class="col-lg-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Previous sessions</h4>
            </div>
            <div class="panel-body">
              <%= partial "work_sessions/_index", locals: {
                work_sessions: @task.work_sessions,
                with_task: false,
                with_actions: true
              } %>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  <% end %>
</div>


<div class="hidden">
  <form method="POST" id="end_session" action="<%= @work_session.url %>" data-confirm="move">
    <p>Would you like to mark the task?</p>

    <div class="radio">
      <label>
        <input type="radio" name="task_status" value="active" <%= 'checked="checked"' if @task.status == :active %> /> Active
        <% if @task.status == :active %><span class="hint">(current)</span><% end %>
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="task_status" value="pending" <%= 'checked="checked"' if @task.status == :pending %> /> Pending
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="task_status" value="complete" /> Complete
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="task_status" value="abandoned" /> Abandoned
      </label>
    </div>

    <label>
      Summary
      <textarea name="summary" cols="40" placeholder="A brief summary of what you've done during this session" class="form-control"></textarea>
    </label>
  </form>
</div>

<div class="jqmWrap">
  <div class="jqmWindow" id="task_editor">
  </div>
</div>

<div class="jqmWrap">
  <div class="jqmWindow" id="ws_editor">
  </div>
</div>

<div id="backtrackingForm" hidden>
  <h4 class="modal-title">Backtrack</h4>

  <div class="modal-content">
    <p>You may add to, or deduct from, this work session up to 60 minutes of time.</p>
    <form class="form">
      <label class="control-label">
        Number of minutes to backtrack
        <input type="number" placeholder="5" min="-60" max="60" class="form-control" name="amount" autofocus />
      </label>
    </form>
  </div>

  <div class="modal-actions">
    <button data-action="save" class="btn btn-primary">Apply</button>
  </div>
</div>