<% content_for :layout_classes do %>dashboard<% end %>
<% content_for :js_bundles do %>
  <%= js_bundle 'dashboard' %>
<% end %>

<form id="resumeTaskForm" method="POST" class="col-lg-6 form form-horizontal">
  <div class="form-group">
    <label class="control-label">Project</label>
    <select class="form-control" name="project_id">
      <% @user.projects.each do |project| %>
        <option value="<%= project.id %>"><%= project.name %></option>
      <% end %>
    </select>
  </div>
  <% @user.projects.each do |project| %>
    <div class="form-group project-tasks" id="project_<%= project.id %>_tasks" style="display: none;">
      <label class="control-label">Task</label>
      <select class="form-control" name="task_id" <%= "disabled" if project.tasks.empty? %>>
        <% project.active_tasks.each do |task| %>
          <option value="<%= task.id %>"><%= task.name %></option>
        <% end %>
      </select>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2">
      <button class="btn btn-primary" id="resumeTask" disabled>
        <i class="glyphicon glyphicon-play"></i>
        Resume Task
      </button>
      <button data-action="newTask" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        New Task
      </button>
    </div>
  </div>
</form>

<form action="/projects/:project_id/tasks" method="POST" id="newTaskForm" hidden>
  <h4 class="modal-title">New Task</h4>

  <div class="modal-content">
    <div class="row">
      <div class="col-md-12">
        <label class="control-label">
          Summary
          <input type="text" name="name" class="form-control" />
        </label>

        <label class="control-label">
          Details <small class="text-muted">(Optional)</small>
          <textarea name="details" class="form-control" placeholder="Writing test specs for thebuttonapp by #algol-labs" style="resize: none;" rows="9"></textarea>
        </label>
      </div>
    </div>
  </div>

  <div class="modal-actions">
    <input type="submit" class="btn btn-primary" value="Start" />
  </div>
</div>
