<% content_for :deferred_js do %>
  <script>
    submit_form = function() {
      $("body").append($("#end_session").detach());
      $("#end_session").submit();
    };

    $(function() {

      $('#task_editor').jqm({
        overlay: 88,
        ajax: $("a#edit_task").attr("href"),
        trigger: 'a#edit_task',
        modal: false,
        onLoad: function() {
          $(this).parent().show();
        }
      });

      $('#ws_editor').jqm({
        overlay: 88,
        ajax: '@href',
        trigger: 'a.edit-work-session',
        onLoad: function() {
          $(this).parent().show();
        }
      });
    })
  </script>
<% end %>

<% t = @user.current_task %>
<section>
  <h3 class="bubble status">Working
    <em class="highlight">for <%= pretty_time(Time.now.to_i - @user.current_session.started_at.to_time.to_i) %></em>
    on
  </h3>
  <p><%= md tagify t.name %>
  </p>
  <% if !t.details.empty? %>
    <p><%= md tagify t.details.gsub("\n", '<br />') %></p>
  <% end %>

  <a href="/tasks/<%= t.id %>/edit" id="edit_task">Edit</a>
  <div class="jqmWrap">
    <div class="jqmWindow" id="task_editor">
    </div>
  </div>

</section>
<section>
  <h3>Got an update?</h3>
  <div>
    <span class="small">Mark as:
      <a class="confirm" href="/tasks/<%= t.id %>/mark?as=complete">complete</a> |
      <div class="hidden" data-confirm>
        <p>Marking the task as complete will end the current session and will prevent you from resuming work on it again.
          <br /><br />Are you sure?
        </p>
      </div>
      <a class="confirm" href="/tasks/<%= t.id %>/mark?as=abandoned">abandoned</a>
      <div class="hidden" data-confirm>
        <p>Abandoning this task will end the current session and will prevent you from resuming work on it again.
          <br /><br />Are you sure?
        </p>
      </div>
      <% if t.status == :active %>
        | <a class="confirm" href="/tasks/<%= t.id %>/mark?as=pending">pending</a>
        <div class="hidden" data-confirm>
          <p>Marking the task as pending will end the current session, but you can still work on it later if you like.
            <br /><br />Proceed?
          </p>
        </div>
      <% end %>
    </span>
  </div>
</section>


<section id="ws_notes">
  <h3>Any notes?</h3>
  <% if @ws.notes.any? %>
    <ol class="styleless">
    <% @ws.notes.each do |note| %>
      <li>
        <span class="hint note_date">
          <%= note.created_at.strftime("On %D: ") %>
          <a class="confirm delete_note" data-confirm="Are you sure you want to delete this note?" href="<%= note.url %>/destroy">x</a>
        </span>
        <div class="indented"><%= md tagify note.content %></div>
      </li>
    <% end %>
    </ol>
  <% else %>
    <p>Doesn't seem like it.</p>
  <% end %>

  <form method="POST" action="<%= @ws.url %>/notes">
    <textarea name="content" rows="2" cols="45" placeholder="You can use this to attach notes to your current work session or task"></textarea>
    <input type="submit" value="Save note" />
    <p class="hint"><strong>Tip: </strong> notes can be formatted using Markdown syntax.</p>
  </form>
</section>

<section>
  <h3>Done?</h3>
  <input
    data-confirm-cb="submit_form"
    data-confirm-heading="End session"
    data-confirm-accept="Ok"
    data-linked-to="task_name" type="submit" id="thebutton" value="End session" class="thebutton confirm end" />
  <div data-confirm="move" class="hidden">
    <form method="POST" id="end_session" action="/work_sessions/<%= @user.current_session.id %>">
      <p>Would you like to mark the task?</p>
      <label><input type="radio" name="task[status]" value="active" <%= 'checked="checked"' if t.status == :active %> /> Active
        <% if t.status == :active %><span class="hint">(current)</span><% end %>
      </label>
      <label><input type="radio" name="task[status]" value="pending" <%= 'checked="checked"' if t.status == :pending %> /> Pending</label>
      <label><input type="radio" name="task[status]" value="complete" /> Complete</label>
      <label><input type="radio" name="task[status]" value="abandoned" /> Abandoned</label>

      <p><label for="session_note">Summary</label></p>
      <textarea name="session[note]" cols="40" id="session_note" placeholder="A brief summary of what you've done during this session"></textarea>
    </form>
  </div>
</section>

<% if t.work_sessions.count > 1 %>
  <section>
    <h4>Related sessions</h4>
    <p>You've worked <%= 'time'.pluralize(t.work_sessions.count - 1) %>  on this task:</p>
    <ol>
      <% t.work_sessions.each do |ws| %>
        <% next if ws == @user.current_session %>
        <li><%= ws.started_at.strftime("On %D") %> for <em class="highlight"><%= pretty_time(ws.duration) %></em>
          <a class="edit-work-session" href="/work_sessions/<%= ws.id %>/edit">Edit</a>
          <a class="confirm" data-confirm="Are you sure you want to delete this work session?" href="/work_sessions/<%= ws.id %>/destroy">Delete</a>
        </li>
      <% end %>
    </ol>
    <div class="jqmWrap">
      <div class="jqmWindow" id="ws_editor">
      </div>
    </div>
  </section>
<% end %>