<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit task</h4>
  </div>

  <form method="POST" action="<%= @task.url %>" class="panel-body form">
    <label>Name*
      <input type="text" name="name" value="<%= @task.name %>" class="form-control" />
    </label>

    <label>Details
      <textarea rows="8" type="text" name="details" class="form-control"><%= @task.details %></textarea>
    </label>

    <fieldset>
      <legend>Status</legend>

      <div class="radio">
        <label>
          <input type="radio" name="status" value="active" <%= 'checked="checked"' if @task.status == :active %> /> Active
          <% if @task.status == :active %><span class="hint">(current)</span><% end %>
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="status" value="pending" <%= 'checked="checked"' if @task.status == :pending %> /> Pending
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="status" value="complete" /> Complete
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="status" value="abandoned" /> Abandoned
        </label>
      </div>
    </fieldset>

    <input type="submit" value="<%= @task.saved? ? 'Update' : 'Create' %> task" class="btn btn-success" />
  </form>
</div>