<%
  # accepted locals:
  # => title: string
  # => tasks
  # => task_status: string (pending,active,complete,or abandoned)
%>

<section id="<%= task_status %>-tasks">
  <h2><%= md title %></h2>

  <% tags = tasks.collect { |t| t.tags }.flatten.uniq %>

  <p>There are
    <em class="highlight"><%= "#{task_status} task".pluralize(tasks.count) %></em>
    <% if tags.any? %>
      that are tagged with
      <%= tags.collect { |t| "<b>#{tagify '#'+t.name}</b>" }.join(', ') %>
    <% end %>
  </p>
  <hr />

  <% tasks.each_with_index do |t, i| %>
    <article class="task" id="<%= t.name.sanitize %>">
      <header>
        <h3 class="numbered"><span><%= i+1 %></span><%= md tagify t.name %></h3>
      </header>

      <% if t.details.length > 0 %>
        <p><%= md tagify t.details %></p>
      <% end %>


      <h4>Progress</h4>

      <%= partial "work_sessions/_listing", locals: {
        work_sessions: t.work_sessions
      } %>

      <p class="text-muted">This task took a total of <em class="highlight"><%= pretty_time t.time_spent %></em> across <em class="highlight"><%= t.work_sessions.count %> sessions</em>, and was marked <%= task_status %> on <%= t.flagged_at.strftime('%D') %></p>
      <hr />
    </article>
  <% end %>
</section>