<% content_for :title do %> Account Settings | <%= current_user.name %> | <%= AppName %> <% end %>

<%= partial "/users/settings/_nav" %>

<!-- <h1>Account</h1> -->
<form action="/settings/account" method="POST">
  <fieldset>
    <legend>General</legend>
    <ol>
      <li><label>Full name</label></li>
      <li><input type="text" name="name" class="fat" value="<%= current_user.name %>" /></li>
      <li><label>Email address</label><br />
        <span class="hint">Your primary email address where we can reach you: <em>(not visible to people)</em></span>

      </li>
      <li>
        <input type="text" name="email" class="very_fat" value="<%= current_user.email %>" />
        <% if current_user.email_verified? %>
          <span class="good">Verified</span>
        <% else %>
          <% if current_user.awaiting_email_verification? %>
            <span class="small">Pending... <a href="/notices/email/new?redispatch=true">send again</a>.
          <% else %>
            <a href="/notices/email/new" class="inline button thin bad">Verify</a>
          <% end %>
        <% end %>
        <br />
      </li>

      <li><label>Gravatar email</label><br />
        <span class="hint">Change your avatar at <a href="http://www.gravatar.com">gravatar.com</a></span>
      </li>
      <li><input type="text" name="gravatar_email" class="fat" value="<%= current_user.gravatar_email || current_user.email %>" />
        <br />
        <br />
        <%= gravatar_tag @user.gravatar_email, :default, html: { style: "vertical-align: middle;" } %>
      </li>

      <li><label>Link accounts</label><br />
        <span class="hint">Linking accounts will allow you to log in using any of them.</span>
      </li>
      <li data-confirmable="oauth_linking">
        <% [ 'facebook', 'google_oauth2', 'github' ].each do |p| %>
          <img src="/images/icons/32x32/<%= p %>.png" />
          <% if current_user.linked_to?(p) %>
            <a href="/users/links/<%= p %>/destroy"
              data-confirm-heading="Unlinking <%= provider_name(p) %> account"
              data-confirm="Unlinking your current account from your <%= provider_name(p) %> one
              will prevent you from logging in to <%= AppName %> using your <%= provider_name(p) %> account.
              <br /><br />Are you sure you want to do this?"
              class="button smaller attached inline bad">Unlink</a>
            <span class="hint">Linked with <%= current_user.linked_to?(p).email %>.</span>
          <% else %>
            <a href="/auth/<%= p %>" class="button attached smaller inline">Link</a>
          <% end %>
          <br />
          <br />
        <% end %>
      </li>

    </ol>
  </fieldset>
  <input type="submit" value="Update Account" />
</form>
<!-- <hr /> -->