<% content_for :title do %> Account Settings | <%= current_user.name %> | <%= AppName %> <% end %>

<%= partial "/users/settings/_nav" %>

<form action="/settings/account" method="POST" class="form col-md-10">
  <div class="row">
    <fieldset>
      <legend>Account Settings</legend>
      <label>
        Name
        <input class="form-control" type="text" name="name" class="fat" value="<%= current_user.name %>" />
      </label>

      <label>
        Email address
        <input class="form-control" type="text" name="email" class="very_fat" value="<%= current_user.email %>" />
      </label>

      <% if current_user.email_verified? %>
        <p><span class="label label-success">Verified</span></p>
      <% else %>
        <% if current_user.awaiting_email_verification? %>
          <p class="alert alert-warning">Pending verification... <a href="/notices/email/new?redispatch=true">send again</a>.</p>
        <% else %>
          <p class="alert alert-warning">Your email has not been verified,
            <a href="/notices/email/new" class="inline button thin bad">send me a verification email</a>.
          </p>
        <% end %>
      <% end %>
    </fieldset>

    <div class="clearfix">
      <input type="submit" value="Update Account" class="btn btn-primary" />
    </div>

    <hr />

    <fieldset>
      <legend>Link accounts</legend>
        <p>Linking accounts will allow you to log in using any of them.</p>

      <div>
        <% [ 'facebook', 'google_oauth2', 'github' ].each do |p| %>
        <div>
          <br />
          <img src="/images/icons/32x32/<%= p %>.png" />

          <% if current_user.linked_to?(p) %>
            <a href="/users/links/<%= p %>/destroy" class="btn btn-xs btn-danger">Unlink</a>
            <em class="">Linked with <%= current_user.linked_to?(p).email %>.</em>
          <% else %>
              <a href="/auth/<%= p %>" class="btn btn-xs btn-default">Link</a>
          <% end %>
          <br />
          </div>
        <% end %>
      </div>

    </fieldset>
  </div>

</form>