<% with_task = true if with_task.nil? %>
<% with_actions = false if with_actions.nil? %>

<tr data-workSession="<%= work_session.id %>">
  <td>
    <%= pretty_time work_session.duration %>
    <% if work_session.active? %>
      <em class="highlight">(active)</em>
    <% end %>
  </td>

  <td>
    <% if work_session.active? %>
      -
    <% else %>
      <%= to_jQueryUI_date work_session.finished_at %>
    <% end %>
  </td>

  <% if with_task %>
    <td><%= work_session.task.name %></td>
  <% end %>


  <td>
    <%= md tagify (work_session.summary||'').empty? ? 'N/A' : work_session.summary %>
    <%= partial "notes/_show", locals: {
        notes: work_session.notes,
        with_ruler: true
      } %>
  </td>

  <% if with_actions %>
    <td  class="text-right">
      <a class="edit-work-session" href="<%= work_session.url %>/edit">Edit</a>
      <a class="confirm" data-confirm="Are you sure you want to delete this work session?" href="<%= work_session.url %>/destroy">Delete</a>
    </td>
  <% end %>
</tr>