<%
  # accepted locals:
  # => title: string
  # => tasks
  # => task_status: string (pending,active,complete,or abandoned)
%>
<section id="<%= task_status %>_task_listing">
  <h2 class="page_title"><%= title %></h2>

  <%# tasks = @user.active_tasks.all({ :conditions => { :status => :active }, order: [ :created_at.desc]  }) %>
  <% tags = tasks.collect { |t| t.tags }.flatten.uniq %>

  <p><em class="highlight"><%= "#{task_status} task".pluralize(tasks.count) %></em>
    <% if tags.any? %>
      that are tagged with
      <%= tags.collect { |t| "<b>#{tagify '#'+t.name}</b>" }.join(', ') %>
    <% end %>
  </p>

  <% tasks.each_with_index do |t, i| %>
    <article class="task">
      <header>
        <h4 class="numbered"><span><%= i+1 %></span><%= md tagify t.name %></h4>
      </header>
      <p><span class="bubbly">[ took <em class="highlight"><%= pretty_time t.time_spent %></em> across <%= t.work_sessions.count %> sessions, and finished on <%= t.flagged_at.strftime('%D') %> ]</span></p>

      <% if t.details.length > 0 %>
        <p><%= md tagify t.details %></p>
      <% end %>

      <% if t.notes.any? %>
        <div class="notes">
          <p><strong>Notes: </strong></p>
          <ol>
            <%= t.notes.collect { |n| "<li>#{md tagify n.content}</li>" }.join('') %>
          </ol>
        </div>
      <% end %>

    </article>
  <% end %>
</section>