<% content_for :deferred_js do %>
  <script>
    $(function() {
      $("button").click(function() {
        $(".notes").toggle();
        var alt = $(this).attr("data-alt");
        $(this).attr("data-alt", $(this).html());
        $(this).html(alt);
      })
    })
  </script>
<% end %>

<% tasks = @user.inactive_tasks.all({ conditions: { status: :complete }, order: [ :created_at.desc]  }) %>

<h2>Finished work</h2>
<p><em class="highlight"><%= 'task'.pluralize(tasks.count) %></em> complete tagged with
<% tasks.collect { |t| t.tags }.flatten.uniq.each do |tag| %>
  <strong><%= tagify("##{tag.name}") %></strong>
<% end %>
.</p>

<% content_for :sticky do %>
<button data-alt="Show task notes">Hide task notes</button>
<% end %>

<ol>
  <% tasks.each do |t| %>
    <li><%= tagify t.name %> <span class="bubbly">[ <%= pretty_time t.time_spent %> on <%= t.flagged_at.strftime('%D') %> ]</span>
      <% if t.notes.any? %>
        <div class="notes">
          <p><strong>Notes: </strong></p>
          <ol>
            <%= t.notes.collect { |n| "<li>#{n.content}</li>" }.join('') %>
          </ol>
        </div>
      <% end %>
    </li>
  <% end %>
</ol>


<h2 class="page_title">Abandoned work</h2>

<% tasks = @user.inactive_tasks.all({ :conditions => { :status => :abandoned }, order: [ :created_at.desc]  }) %>
<% tags = tasks.collect { |t| t.tags }.flatten.uniq %>

<p><em class="highlight"><%= 'task'.pluralize(tasks.count) %></em> abandoned
  <% if tags.any? %>
    tagged with
    <% tags.each do |tag| %>
      <strong><%= tagify("##{tag.name}") %></strong>
    <% end %>
  <% end %>
</p>

<ol>
  <% tasks.each do |t| %>
    <li><%= tagify t.name %> <span class="bubbly">[ <%= pretty_time t.time_spent %> on <%= t.flagged_at.strftime('%D') %> ]</span>
      <% if t.notes.any? %>
        <div class="notes">
          <p><strong>Notes: </strong></p>
          <ol>
            <%= t.notes.collect { |n| "<li>#{n.content}</li>" }.join('') %>
          </ol>
        </div>
      <% end %>
    </li>
  <% end %>
</ol>

