<% content_for :deferred_js do %>
  <script>
    $(function() {
      $('#editor').jqm({
        overlay: 88,
        ajax: '@href',
        trigger: 'a.edit-work-session',
        onLoad: function() {
          $('.jqmWrap').show();
        }
      });
    });
  </script>
<% end %>

<% @sessions = @t.work_sessions %>
<% tag_names = @user.tags.collect { |t| "<b>##{t.name}</b>" } %>

<section class="reports">
  <h3>Work sessions</h3>
  <p><%= @sessions.count %> work sessions<% if tag_names.any? %> tagged with <%= tag_names.join(', ') %><% end %>:
  </p>
  <% if @sessions.any? %>
    <table class="split-me">
      <thead>
        <tr>
          <th width="20%">Duration</th>
          <th width="20%">On</th>
          <th>Summary</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @sessions.each do |ws| %>
          <tr>
            <td><%= pretty_time ws.duration %></td>
            <td><%= ws.finished_at.strftime('%D') %></td>
            <td>
              <% if ws.notes.any? %>
                <%= md ws.notes.collect { |n| tagify n.content }.join("\n") %>
              <% else %>
                <span>N/A</span>
              <% end %>
            </td>
            <td>
              <a class="edit-work-session" href="/work_sessions/<%= ws.id %>/edit">Edit</a>
              <a class="confirm" data-confirm="Are you sure you want to delete this work session?" href="/work_sessions/<%= ws.id %>/destroy">Delete</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<div class="jqmWrap">
  <div class="jqmWindow" id="editor">
  </div>
</div>