<% js_view 'projects/show' %>

<% content_for :page_title do %>
  <%= @project.name %>

  <div class="pull-right">
    <a class="btn btn-primary" href="<%= @project.url %>/edit"><i class="glyphicon glyphicon-edit"></i></a>
    <a class="btn btn-danger" href="<%= @project.url %>/destroy"><i class="glyphicon glyphicon-trash"></i></a>
  </div>
<% end %>

<div class="col-md-12 toolbar">
  <button data-action="showTaskMovementDialog" class="btn btn-default">Move</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th><input type="checkbox" id="checkAll" /></th>
      <th>Task</th>
      <th>Sessions</th>
      <th>Time Spent</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @project.tasks.each do |task| %>
      <tr>
        <td><input type="checkbox" name="tasks[]" value="<%= task.id %>" /></td>
        <td><%= md task.name %></td>
        <td><%= task.work_sessions.length %></td>
        <td><%= pretty_time task.time_spent %></td>
        <td><a href="<%= task.url(true) %>/work_sessions">Manage</a></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td><strong>Total</strong></td>
      <td colspan="4" class="text-right"><%= pretty_time @project.tasks.map(&:time_spent).reduce(&:+) || 0 %></td>
    </tr>
  </tfoot>
</table>

<div class="actions">
  <a href="<%= @client.url %>">Back to <%= @client.name %></a>
</div>