<% js_view 'reports/new' %>
<% content_for :title do %>Generate a report<% end %>

<header class="page-header">
  <h1>Generate a report</h1>
</header>

<form method="POST" id="generate_report" action="/reports" class="container-fluid">
  <fieldset>
    <legend>Project</legend>
    <select name="project_id">
      <% @user.projects.each do |project| %>
        <option value="<%= project.id %>">
          <%= project.name %>
        </option>
      <% end %>
    </select>
  </fieldset>
  <section id="date_filters" class="clearfix">

    <fieldset>
      <legend>Period</legend>
      <label>
        <input type="radio" name="date[range]" value="current_week" checked="checked">Current week (<%= Time.now.strftime('%W') %>)</option>
      </label>
      <label>
        <input type="radio" name="date[range]" value="current_month">Current month (<%= Time.now.strftime('%B') %>)</option>
      </label>
      <label>
        <input type="radio" name="date[range]" value="current_year">Current year (<%= Time.now.strftime('%Y') %>)</option>
      </label>
      <label>
        <input type="radio" name="date[range]" value="last_week">Last week (<%= 1.week.ago.strftime('%W') %>)</option>
      </label>
      <label>
        <input type="radio" name="date[range]" value="last_month">Last month (<%= 1.month.ago.strftime('%B') %>)</option>
      </label>
      <label>
        <input type="radio" name="date[range]" value="last_year">Last year (<%= 1.year.ago.strftime('%Y') %>)</option>
      </label>
      <label>
        <input type="radio" name="date[range]" value="custom">Custom</option>
      </label>

      <div hidden id="report_date_selector" class="col-md-3">
        <label>From:
          <input type="text" name="date[from]" id="from" class="form-control" />
        </label>
        <label>To: <input type="text" name="date[to]" id="to" class="form-control" /></label>
      </div>
    </fieldset>

  </section>
  <section id="tag_filters">
    <h3>Tag filters</h3>
    <label>
      <input type="checkbox" name="exclude" value="true" /> Exclude tasks with the selected tags
    </label>
    <hr />
    <div class="tag-box">
      <% @tags.each do |tag| %>
        <label class="inline"><input type="checkbox" value="<%= tag.id %>" name="tags[]" /><%= "##{tag.name}" %></label>
      <% end %>
    </div>
  </section>

  <section>
    <h3>Duration filters</h3>
    <label>
      <input type="checkbox" name="hide_short_sessions" value="yes" />
      Don't count really short work sessions (&lt; 5 minutes long)
    </label>
  </section>

  <section>
    <h3>Status filters</h3>
    <label>
      <input type="checkbox" name="hide_abandoned_tasks" value="yes" />
      Don't count abandoned tasks
    </label>

    <label>
      <input type="checkbox" name="hide_pending_tasks" value="yes" />
      Don't count pending tasks
    </label>

    <label>
      <input type="checkbox" name="hide_active_tasks" value="yes" />
      Don't count active tasks
    </label>

  </section>

  <section>
    <h3>Format</h3>
    <label><input type="radio" name="type" value="HTML" checked="checked" />HTML</label>
    <label><input type="radio" name="type" value="PDF" />PDF</label>
    <label><input type="radio" name="type" value="Excel" disabled="disabled" />Excel <span class="hint">(soon)</span></label>
    <p><strong>Formatting Options</strong></p>
    <label><input type="checkbox" name="format_options[pdf][wrap]" value="yes" checked="checked" />Page-wrap overflowing tables (PDF only)</label>
    <label><input type="checkbox" name="format_options[pdf][break]" value="yes" checked="checked" />Force a page break between the two tables (PDF only)</label>
  </section>

  <div class="form-controls">
    <input type="submit" value="Generate" class="btn btn-primary" />
  </div>
</form>