<%
  # params[:date] ||= {
  #   b: to_jQueryUI_date(Time.now),
  #   e: to_jQueryUI_date(Time.now),
  #   range: 'current_month'
  # }
  # params[:hide_short_sessions] ||= false
%>
<% content_for :deferred_js do %>
  <script>
    $(function() {

      $('label input[type="radio"]').each(function() {
        var $radio = $(this);
        var $bootstrap_container = $('<div class="radio" />')
        var $label = $radio.parents('label:first');
        $label.after($bootstrap_container);
        $label.appendTo($bootstrap_container);
      });

      $('label input[type="checkbox"]').each(function() {
        var $radio = $(this);
        var $label = $radio.parents('label:first');
        // Tag filter checkboxes should be inlined
        var klass = $label.parents('#tag_filters').length ? 'checkbox-inline' : 'checkbox';
        var $bootstrap_container = $('<div class="' + klass + '" />')

        $label.after($bootstrap_container);
        $label.appendTo($bootstrap_container);
      });

      $( "#from" ).datepicker({
        defaultDate: "+1w",
        inline: false,
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          $( "#to" ).datepicker( "option", "minDate", selectedDate );
        }
      });
      $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          $( "#from" ).datepicker( "option", "maxDate", selectedDate );
        }
      });

      $('#date_filters input[name*="range"]').on('change', function() {
        $('#report_date_selector').toggle($('#date_filters :checked').val() === 'custom');
      });

      var form_url = $("form").attr("action");

      $('input[name="type"]').on('change', function() {
        var form = $(this).parents("form:first")
        if ($(this).attr("value") == 'PDF') {
          form.attr("action", form_url + '.pdf')
        } else {
          form.attr("action", form_url)
        }
      });

      <% if false %>
        $("input[type=radio][value=<%= params[:date][:range] %>]").attr("checked", "checked").change();
        <% @tags && @tags.each do |t| %>
          $("input[type=checkbox][name^=tags][value=<%=t.id%>]").attr("checked", "checked");
        <% end %>
        <% if params[:hide_short_sessions] %>
          $("input[type=checkbox][name=hide_short_sessions]").attr("checked", "checked");
        <% end %>
      <% end %>

      $('input[type="radio"]:checked, input[type="checkbox"]:checked').change();
    });

  </script>
<% end %>

<% content_for :title do %>Generate a report<% end %>

<header class="page-header">
  <h1>Generate a report</h1>
</header>

<form method="POST" id="generate_report" action="/reports">
  <fieldset>
    <legend>Project</legend>
    <select name="project_id">
      <% @user.projects.each do |project| %>
        <option value="<%= project.id %>">
          <%= project.name %>
        </option>
      <% end %>
    </select>
  </fieldset>
  <section id="date_filters" class="clearfix">

    <fieldset>
      <legend>Period</legend>
      <label>
        <input type="radio" name="date[range]" value="current_month" checked="checked">Current month (<%= Time.now.strftime('%B') %>)</option>
      </label>
      <label>
        <input type="radio" name="date[range]" value="current_year">Current year (<%= Time.now.strftime('%Y') %>)</option>
      </label>
      <label>
        <input type="radio" name="date[range]" value="last_month">Last month (<%= 1.month.ago.strftime('%B') %>)</option>
      </label>
      <label>
        <input type="radio" name="date[range]" value="last_year">Last year (<%= 1.year.ago.strftime('%Y') %>)</option>
      </label>
      <label>
        <input type="radio" name="date[range]" value="custom">Custom</option>
      </label>

      <div hidden id="report_date_selector" class="col-md-3">
        <label>From:
          <input type="text" name="date[from]" id="from" class="form-control" />
        </label>
        <label>To: <input type="text" name="date[to]" id="to" class="form-control" /></label>
      </div>
    </fieldset>

  </section>
  <section id="tag_filters">
    <h3>Tag filters</h3>
    <label>
      <input type="checkbox" name="exclude" value="true" /> Exclude tasks with the selected tags
    </label>
    <hr />
    <% @tags.each do |tag| %>
      <label class="inline"><input type="checkbox" value="<%= tag.id %>" name="tags[]" /><%= tagify("##{tag.name}") %></label>
    <% end %>

  </section>

  <section>
    <h3>Duration filters</h3>
    <label>
      <input type="checkbox" name="hide_short_sessions" value="yes" />
      Don't count really short work sessions (&lt; 5 minutes long)
    </label>
  </section>

  <section>
    <h3>Status filters</h3>
    <label>
      <input type="checkbox" name="hide_abandoned_tasks" value="yes" />
      Don't count abandoned tasks
    </label>

    <label>
      <input type="checkbox" name="hide_pending_tasks" value="yes" />
      Don't count pending tasks
    </label>

    <label>
      <input type="checkbox" name="hide_active_tasks" value="yes" />
      Don't count active tasks
    </label>

  </section>

  <section>
    <h3>Format</h3>
    <label><input type="radio" name="type" value="HTML" checked="checked" />HTML</label>
    <label><input type="radio" name="type" value="PDF" />PDF</label>
    <label><input type="radio" name="type" value="Excel" disabled="disabled" />Excel <span class="hint">(soon)</span></label>
    <p><strong>Formatting Options</strong></p>
    <label><input type="checkbox" name="format_options[pdf][wrap]" value="yes" checked="checked" />Page-wrap overflowing tables (PDF only)</label>
    <label><input type="checkbox" name="format_options[pdf][break]" value="yes" checked="checked" />Force a page break between the two tables (PDF only)</label>
  </section>

  <div class="form-controls">
    <input type="submit" value="Generate" class="btn btn-primary" />
  </div>
</form>