<% content_for :nav do %>
  <a href="/sessions/new" class="btn btn-default">Login</a>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      <%= yield_with_default(:title) { "#{AppName} - #{AppSlogan}" } %>
    </title>

    <link href="/app.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/app.js"></script>

    <script>
      $(function() {
        if (navigator.platform.search(/win/i) > -1) {
          $("body").addClass("windows");
        }
      });
    </script>
  </head>

  <body class="<%= @layout.to_s.split('/').last %> <%= yield_content :layout_classes %>">
    <%= partial :"layouts/header" %>

    <div id="content" class="container">
      <%= partial "layouts/_flashes" %>
      <%= yield %>
    </div>

    <%= partial :"layouts/footer" %>
  </body>
</html>
