<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    <%= yield_with_default(:title) { "#{AppName} - #{AppSlogan}" } %>
  </title>

  <link href="/app.css" rel="stylesheet" type="text/css" />

  <%= yield_content :css %>

  <script src="/js/highcharts-all.js"></script>
  <script src="/js/chartkick.js"></script>

  <%= yield_content :js %>
  <%= yield_content :scripts %>
</head>

<body class="<%= @layout.to_s.split('/').last %> <%= current_page %> <%= yield_content :layout_classes %>">

  <% content_for :nav do %>
    <%= partial :"layouts/_member_navigation" %>
  <% end %>

  <%= partial :"layouts/header" %>

  <div id="content" class="container <%= request.path.gsub('/', ' ').strip.sanitize.split('-').first %>">
    <!-- <div class="row"> -->
      <%= partial "layouts/_flashes" %>

      <% if content_for?(:page_title) %>
        <header class="page-header">
          <h2><%= yield_content :page_title %></h2>
        </header>
      <% end %>

      <% if content_for?(:breadcrumbs) %>
        <% items = yield_content(:breadcrumbs) %>
        <%= items %>
      <% end %>

      <%= yield %>
    <!-- </div> -->
  </div>

  <% unless pdf? %>
    <%= partial "layouts/footer" %>
  <% end %>

  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

  <% if settings.development? %>
    <script data-main="/app/assets/src/js/main" src="/app/assets/vendor/js/require.js"></script>
  <% else %>
    <script src="/app.js"></script>
  <% end %>

  <%= yield_content :js_injections %>
  <%= yield_content :js_bundles %>
  <%= yield_content :deferred_js %>
  <% (@js_views || []).each do |view| %>
    <%= view %>
  <% end %>
</body>

</html>