<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    <%= yield_with_default(:title) { "#{AppName} - #{AppSlogan}" } %>
  </title>

  <link href="/app.css" rel="stylesheet" type="text/css" />

  <%= yield_content :css %>

  <script src="/js/highcharts-all.js"></script>
  <script src="/js/chartkick.js"></script>

  <%= yield_content :js %>
  <%= yield_content :scripts %>
</head>

<body class="<%= @layout.to_s.split('/').last %> <%= current_page %> <%= yield_content :layout_classes %>">

  <% content_for :nav do %>
    <ul class="nav navbar-nav">
      <li><a id="navbar_dashboard" href="/">Dashboard</a></li>
      <li><a href="/clients">Clients</a></li>
      <li><a href="/projects">Projects</a></li>

      <li class="dropdown">
        <a id="navbar_review" href="#" class="dropdown-toggle" data-toggle="dropdown">Review <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="/tasks/current">
              <i class="glyphicon glyphicon-play"></i> Review active work
            </a>
          </li>
          <li>
            <a href="/tasks/history">
              <i class="glyphicon glyphicon-ok"></i> Review finished work
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/reports/new">
              <i class="glyphicon glyphicon-book"></i> Generate a report
            </a>
          </li>
        </ul>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/settings/account">
          <strong class="account_name"><%= current_user.name %></strong>
          <i class="glyphicon glyphicon-user"></i>

          <%#= gravatar_tag current_user.gravatar_email, :icon, :height => 24 %>
        </a>
        <% if current_user.notice_count > 0 %>
          <a href="/settings/notifications">
            <span class="notifications blinky" title="You have <%= current_user.notice_count %> pending notifications">
              <%= current_user.notice_count %>
            </span>
          </a>
        <% end %>
      </li>
    </ul>
  <% end %>

  <%= partial :"layouts/header" %>

  <div id="content" class="container <%= request.path.gsub('/', ' ').strip.sanitize.split('-').first %>">
    <div class="row">
      <%= partial "layouts/_flashes" %>

      <% if content_for?(:page_title) %>
        <header class="page-header">
          <h2><%= yield_content :page_title %></h2>
        </header>
      <% end %>

      <% if content_for?(:breadcrumbs) %>
        <% items = yield_content(:breadcrumbs) %>
        <%= items %>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <% unless pdf? %>
    <%= partial "layouts/footer" %>
  <% end %>

  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

  <% if settings.development? %>
    <script data-main="/app/assets/src/js/main" src="/app/assets/vendor/js/require.js"></script>
  <% else %>
    <script src="/app.js"></script>
  <% end %>

  <%= yield_content :js_injections %>
  <%= yield_content :js_bundles %>
  <%= yield_content :deferred_js %>
  <% (@js_views || []).each do |view| %>
    <%= view %>
  <% end %>
</body>

</html>