<% content_for :nav do %>
  <span class="account_name">
    <%= current_user.name %>
    <a href="/settings/account">
      <%= gravatar_tag current_user.gravatar_email, :icon %>
    </a>
    <% if current_user.notice_count > 0 %>
      <a href="/settings/notifications">
        <span class="notifications blinky" title="You have <%= current_user.notice_count %> pending notifications">
          <%= current_user.notice_count %>
        </span>
      </a>
    <% end %>
  </span>
<% end %>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    <%= yield_with_default(:title) { "#{AppName} - #{AppSlogan}" } %>
  </title>

  <link href="/app.css" rel="stylesheet" type="text/css" />
  <!-- <link href="/js/jquery-ui/css/jquery-ui-theme/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" /> -->

  <%= yield_content :css %>

  <!--
    <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
    <script src="/js/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script src="/js/dynamism.js"></script>
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/algol.js"></script>
    <script src="/js/algol_ui.js"></script>
    <script src="/js/jqModal.js"></script>
  -->
  <script src="/app.js"></script>


  <script>
    $(function() {
      if (navigator.platform.search(/win/i) > -1) {
        $("body").addClass("windows");
      }
    });
  </script>

  <%= yield_content :js %>
  <%= yield_content :scripts %>
</head>

<body class="<%= @layout.to_s.split('/').last %> <%= current_page %> <%= 'sticky' if content_for?(:sticky) %> <%= yield_content :layout_classes %>">

  <%= partial :"layouts/header" %>

  <div id="content" class="container <%= request.path.gsub('/', ' ').strip.sanitize.split('-').first %>">
    <%= partial "layouts/_flashes" %>

    <%= yield %>

    <% if content_for?(:sticky) %>
      <div class="sticky">
        <%= yield_content :sticky  %>
      </div>
    <% end %>
  </div>

  <% unless pdf? %>
    <%= partial "layouts/footer" %>
  <% end %>

  <%= partial "/shared/_confirmation_dlg" %>
  <%= yield_content :deferred_js %>

  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  </div>
</body>

</html>